/* Top part of the webpage*/
.Top{
    font-family: 'Montserrat', sans-serif;
    background-color: #1f2937;
    color: aliceblue;
}
.header{
    display: flex;
    font-weight: bold;
    font-size: 20px;
    border-left: 20px;
    border-right: 20px;
}
#headerLogo{
    margin-right: auto;
}
#frontPageImage{
    width: 22%;
    margin: 60px;
}
.welcome{
    display: flex;
    justify-content: space-around;
}
#writtenPartOfHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#slogan{
    font-size: 35px;
    font-weight: bold;
}
button{
    margin-right: auto;
    background-color:#38b0f6;
    width: 100px;  
    height: 35px;
    border-radius: 15px; 
}


/* Middle part of the webpage*/
.middle1{
    display: flex;
    align-items: center;
}
.imageSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.tuoristImage{
    width:80%;
    border-style: solid;
    border-radius: 10%;
    border-width: 4px;
    border-color: #0eadb5;
}
#popular{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* quote*/
.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    background-color: #a4a4a7;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font-size: 30px;
}