
.title,.Top,.header,#slogan{
    border-style: solid;
    border-color: blueviolet;
}
.Top{
    font-family: 'Montserrat', sans-serif;
    background-color: #1f2937;
    color: aliceblue;
}
.header{
    display: flex;
}
#headerLogo{
    margin-right: auto;
}

